@import '~antd/dist/antd';

.normal{
    text-align:center
}

.title{
    font-size:15px;
    font-weight: normal;
    background: @primary-color;
    padding: 10px 0;
    color: white;
    margin:0;
}

.footer {
    font-size: 12px;
    font-weight: normal;
    background: @primary-color;
    padding: 10px 0;
    color: white;
    margin: 0;
}
  